@mixin flex($dir: row, $just: start, $align: start) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $just;
}

@mixin link_a($color: $default-color, $visited_color: $color) {
  a {
    color: $color;
    &:visited {
      color: $visited_color;
    }
  }
}