.models__title {
  margin: 20px 0;
  font-family: "VWHead-Bold", "VWHead", Arial, sans-serif;
}
.models__slide {
  &.slide {
    @include flex(column, center, center);
    margin: auto;
    .slide__img {
      max-width: 300px;
      margin: auto;
    }
    .slide__text {
      margin-top: 6px;
      
      font-size: 1.2rem;
      line-height: 1.278;
      font-family: "VWHead-Bold", "VWHead", Arial, sans-serif;
      text-align: center;
    }
  }
}

.models__link {
  @include flex(row, center, center);
  margin-top: 50px;
  text-align: center;
}