.slider {
  width: 100%;
}
.top_slides {
  .arrows {
    position: relative;
  }
}
.slide {
  position: relative;
  &__widgets {
    padding: 0 50px;
  }
  &__button {
    position: absolute;
    bottom: 35px;
    left: calc(50% - 7.5rem);
    width: 100%;
  }
  &__arrow {
    position: absolute;
    top: calc(50% - 40px);
    width: 40px;
    height: 80px;
    background-color: $light-color;
    cursor: pointer;

    &:hover {
      background-color: darken($light-color, 10%);
    }
    &.arrow-prev {
      background: $light-color url("../../img/icons/arrow-prev.png") 50% 50% no-repeat;
      background-size: contain;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      left: 0;
    }
    &.arrow-next {
      background: $light-color url("../../img/icons/arrow-next.png") 50% 50% no-repeat;
      background-size: contain;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      right: 0;
    }
  }
}
.widgets {
  @include flex(row, flex-end, space-between);
  @include link_a;

  position: absolute;
  top: 40px;
  right: 50px;
  
  width: 100%;
  max-width: 400px;
  color: $default-color;
  font-size: 12px;
}
.widget {
  @include flex(column, center, center);
  width: 25%;
  &:hover {
    .widget__icon {
      &.sales, &.test, &.service, &.contacts {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-bottom: 10px;

    &.sales {
      background: rgba($color: #000000, $alpha: 0.2) url("../../img/icons/ticket_1.png") 50% 50% no-repeat;
    }
    &.test {
      background: rgba($color: #000000, $alpha: 0.2) url("../../img/icons/helm_1.png") 50% 50% no-repeat;
    }
    &.service {
      background: rgba($color: #000000, $alpha: 0.2) url("../../img/icons/wrench_1.png") 50% 50% no-repeat;
    }
    &.contacts {
      background: rgba($color: #000000, $alpha: 0.2) url("../../img/icons/mail_1.png") 50% 50% no-repeat;
    }
  }
}

