<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Volkswagen Centre</title>
    <meta name="theme-color" content="#fff" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="icon" type="image/png" href="@@webRoot/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="@@webRoot/img/favicons/favicon-64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="@@webRoot/img/favicons/favicon-96x96.png" sizes="96x96">
    

    <link rel="stylesheet" href="@@webRoot/styles/main.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="container">

        <header class="header">
          <div class="container">
            <div class="logo">
              <p class="logo__title">Volkswagen Centre Almaty</p>
              <p class="logo__subtitle">Официальный дилер Volkswagen</p>
            </div>
            <div class="info">
              <div class="contacts">
                <div class="contacts__phone">
                  <span class="contacts__icon phone-icon"></span>
                  <a href="tel:+77273511051" class="contacts__link">+7 (727) 351-10-51</a>
                </div>
                <div class="contacts__address">
                  <span class="contacts__icon address-icon"></span>
                  <a href="#" class="contacts__link">г. Алматы, пр. Майлина 79</a>
                </div>
                  
              </div> 
              <button class="header__button button">Обратный звонок</button> 
            </div>
          </div>
        </header>
        <!-- /.header --> 

        <main  class="wrapper-content" >
          <div class="container">

            <section class="slider">
              <div class="slide">
                <div class="top_slides">
                  <img class="slide__img top_slide" src="img/main_slider_1.jpg" alt="Фото Volkswagen Caddy">
                  <img class="slide__img top_slide" src="img/main_slider_2.jpg" alt="Фото Volkswagen Caddy">
                  <img class="slide__img top_slide" src="img/main_slider_3.jpg" alt="Фото Volkswagen Caddy">   
                </div>
                <div class="arrows">
                  <span class="slide__arrow arrow-prev-1 arp_1"></span>
                  <span class="slide__arrow arrow-next-1 arn_1"></span>
                </div>
                <div class="slide__widgets">
                  <div class="widgets">
                    <a href="#" class="widget widgets__sales">
                      <span class="widget__icon sales"></span>
                      <p class="widget__text">
                        Акции
                      </p>
                    </a>
                    <a href="#" class="widget widgets__test">
                      <span class="widget__icon test"></span>
                      <p class="widget__text">
                        Тест-драйв
                      </p>
                    </a>
                    <a href="#" class="widget widgets__service">
                      <span class="widget__icon service"></span>
                      <p class="widget__text">
                          Сервис
                      </p>
                    </a>
                    <a href="#" class="widget widgets__contacts">
                      <span class="widget__icon contacts"></span>
                      <p class="widget__text">
                        Контакты
                      </p>
                    </a>
                  </div>
                </div>
                <div class="slide__button button">Подробнее</div>
              </div>
              <!-- /.slide -->
            </section>
            <!-- /.slider -->

            <!--  -->

            <section class="models">
              <h2 class="h2 title models__title">Модели Volkswagen</h2>

              <div class="models__slider">
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/polo.png" alt="Модель машины">
                  <p class="slide__text">Polo</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/tiguan.png" alt="Модель машины">
                  <p class="slide__text">Tiguan</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/offroad.png" alt="Модель машины">
                  <p class="slide__text">Tiguan OFFROAD</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/touareg.png" alt="Модель машины">
                  <p class="slide__text">НОВЫЙ Touareg</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/teramont.png" alt="Модель машины">
                  <p class="slide__text">Teramont</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/amarok.png" alt="Модель машины">
                  <p class="slide__text">НОВЫЙ Amarok</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/multivan.png" alt="Модель машины">
                  <p class="slide__text">Multivan</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/caravelle.png" alt="Модель машины">
                  <p class="slide__text">Caravelle</p>
                </a>
                <a class="models__slide slide">
                  <img class="slide__img" src="img/models/caddy-kombi.png" alt="Модель машины">
                  <p class="slide__text">Caddy Kombi</p>
                </a>
              </div>
              <div class="arrows">
                <span class="slide__arrow arrow-prev arp_2"></span>
                <span class="slide__arrow arrow-next arn_2"></span>
              </div>
              <a href="#" class="models__link arrow-link">
                <span class="arrow-link__arrow"></span>
                Посмотреть все модели
              </a>
            </section>


            <section class="sales">
              <h2 class="h2 title sales__title">Акции и спецпредложения</h2>
              
              <div class="sales__slider">
                <div class="sales__slider-wrapper">
                  <div class="sales__slide slide">
                    <a class="sales__img-link">
                      <div class="slide__img-wrapper">
                        <img class="slide__img" src="img/sales/sale_5.jpg" alt="Акция">
                      </div>
                      <div class="slide__info-wrapper">
                        <h3 class="h3 subtitle slide__subtitle">Volkswagen Tiguan выгода до 2 280 000 тенге</h3>
                        
                        <p class="slide__text">Указанная выгода достигается при покупке&nbsp;<b>Volkswagen Tiguan&nbsp;</b>
                          <b><span lang="EN-US">TSI</span></b><b>&nbsp;150 л.с. 6-АКП 4</b><b>
                          <span lang="EN-US">Motion</span></b>
                          <b><span lang="EN-US">&nbsp;</span>в комплектации&nbsp;</b>
                          <b><span lang="EN-US">City</span></b>. 
                          Комплектация может отличаться от изображенного на имидже авто.
                        </p>
                        <p class="slide__text">Указанная выгода не суммируется с другими подарками или акциями.</p>

                        <button class="button slide__button">Узнать больше</button>
                        <button class="button button--reverse slide__button">Посмотреть все акции</button>
                      </div>
                    </a>
                  </div>
                  
                  <a class="sales__slide slide">
                    <div class="slide__img-wrapper">
                      <img class="slide__img" src="img/sales/sale_1.png" alt="Акция">
                    </div>
                    <div class="slide__info-wrapper">
                      <h3 class="h3 subtitle slide__subtitle">Ваше преимущество на Volkswagen Tiguan до 7 %</h3>
                      <p class="slide__text">Указанное преимущество достигается при приобретении автомобиля Volkswagen Tiguan в кредит.</p>
                      <button class="button slide__button">Узнать больше</button>
                      <button class="button button--reverse slide__button">Посмотреть все акции</button>
                    </div>
                  </a>
                  <a class="sales__slide slide">
                    <div class="slide__img-wrapper">
                      <img class="slide__img" src="img/sales/sale_2.png" alt="Акция">
                    </div>
                    <div class="slide__info-wrapper">
                        <h3 class="h3 subtitle slide__subtitle">Лизинг коммерческих автомобилей Volkswagen</h3>
                        <p class="slide__text"><strong>Для юридических лиц и индивидуальных предпринимателей</strong></p>
                        <p class="slide__text">Подробности уточняйте у официальных дилеров Volkswagen.</p>
                        <button class="button slide__button">Узнать больше</button>
                        <button class="button button--reverse slide__button">Посмотреть все акции</button>
                    </div>
                  </a>
                  <a class="sales__slide slide">
                    <div class="slide__img-wrapper">
                      <img class="slide__img" src="img/sales/sale_3.jpg" alt="Акция">
                    </div>
                    <div class="slide__info-wrapper">
                        <h3 class="h3 subtitle slide__subtitle">Ваше преимущество на Volkswagen Polo до 7 %</h3>
                        <p>Указанное преимущество достигается при приобретении автомобиля&nbsp;<span lang="EN-US">Volkswagen</span><span lang="EN-US">&nbsp;</span><span lang="EN-US">Polo</span>&nbsp;в кредит.</p>
                        <button class="button slide__button">Узнать больше</button>
                        <button class="button button--reverse slide__button">Посмотреть все акции</button>
                    </div>
                  </a>
                  <a class="sales__slide slide">
                    <div class="slide__img-wrapper">
                      <img class="slide__img" src="img/sales/sale_4.jpg" alt="Акция">
                    </div>
                    <div class="slide__info-wrapper">
                      <h3 class="h3 subtitle slide__subtitle">Volkswagen Polo от 57 803 тенге в месяц</h3>
                      <p class="slide__text">
                        Указанная выгода достигается при покупке 
                        <b>Volkswagen Polo, 110 л.с., 5МКП в комплектации Trendline.</b> 
                      </p>
                      <p class="slide__text">
                        Комплектация может отличаться от изображенного на имидже авто. 
                      </p>
                      <p class="slide__text"></p>
                        Указанная выгода не суммируется с другими подарками или акциями.
                      </p>
                      <button class="button slide__button">Узнать больше</button>
                      <button class="button button--reverse slide__button">Посмотреть все акции</button>
                    </div>
                  </a>
                </div>
                <div class="arrows">
                  <span class="sales__arrow arrow-prev arp_3"></span>
                  <span class="sales__arrow arrow-next arn_3"></span>
                </div>
              </div> 
            </section>
            <!-- /.sales -->


            <section class="news">
              <h2 class="h2 title news__title">Новости Volkswagen Centre Almaty</h2>
              <div class="news__wrapper">

                <div class="news__block">
                  <div class="news__img">
                    <img src="../img/news/news_1.jpg" alt="Новость">
                  </div>
                  <h3 class="h3 subtitle news__subtitle">Старт испытаний электромобиля Volkswagen ID. R</h3>
                  <p class="news__text">
                    Успешная серия испытаний в&nbsp;Альмерии <br>
                    Летом 2019 года электромобиль планирует установить новый рекорд на «Северной петле» Нюрбургринга
                  </p>
                  <p class="news__text">
                      На андалузской трассе Circuito de Almería электромобиль ID. R готовится к тому, чтобы установить…
                  </p>
                  <a href="#" class="button news__button">Подробнее</a>
                </div>
                <!-- /.news__block -->
                <div class="news__block">
                  <div class="news__img">
                    <img src="../img/news/news_2.jpg" alt="Новость">
                  </div>
                  <h3 class="h3 subtitle news__subtitle">Volkswagen Group Rus вышла на рынок Казахстана</h3>
                  <p class="news__text">
                      Дочерняя компания концерна Volkswagen в России становится официальным поставщиком марок Volkswagen и Volkswagen Коммерческие автомобили на рынок Казахстана.<br> 
                      Volkswagen Group Rus, дочерняя компания концерна Volkswagen в России, становится официальным поставщиком…
                  </p>
                  <a href="#" class="button news__button">Подробнее</a>
                </div>
                <!-- /.news__block -->
                <div class="news__block">
                  <div class="news__img">
                    <img src="../img/news/news_3.jpg" alt="Новость">
                  </div>
                  <h3 class="h3 subtitle news__subtitle">Мировая премьера нового кроссовера Volkswagen T-Roc</h3>
                  <p class="news__text">
                    Новый T-Roc: четвёртый SUV в модельном ряду Volkswagen<br>
                    Модель отличается новым ярким дизайном с купеобразной линией крыши и расширенной передней частью кузова <br>
                    Богатое оснащение базовой комплектации, широкий набор…<br>
                  </p>
                  <a href="#" class="button news__button">Подробнее</a>
                </div>
                <!-- /.news__block -->
                <div class="news__button-block">
                  <a href="#" class="button button--reverse news__button">Показать все новости</a>
                </div>
              </div>
              <!-- /.news__wrapper -->
            </section>
            <!-- /.news -->


            <section class="properties">
              <div class="properties__wrapper">

                <div class="properties__bloks-wrapper">

                  <div class="properties__blok">
                    <div class="properties__icon">
                        <img class="properties__img" src="../img/properties/prop_1.png" alt="Иконка">
                    </div>
                    <h3 class="h3 subtitle properties__subtitle">Автомобили в наличии</h3>
                    <a href="#" class="properties__link arrow-link">
                      <span class="arrow-link__arrow"></span>
                      Выберите свой Volkswagen
                    </a>
                  </div>
                  <!-- /.properties__blok -->
                  <div class="properties__blok">
                    <div class="properties__icon">
                        <img class="properties__img" src="../img/properties/prop_2.png" alt="Иконка">
                    </div>
                    <h3 class="h3 subtitle properties__subtitle">Записаться на Сервис</h3>
                    <a href="#" class="properties__link arrow-link">
                      <span class="arrow-link__arrow"></span>
                      Получите профессиональное обслуживание
                    </a>
                  </div>
                  <!-- /.properties__blok -->
                  <div class="properties__blok">
                    <div class="properties__icon">
                        <img class="properties__img" src="../img/properties/prop_3.png" alt="Иконка">
                    </div>
                    <h3 class="h3 subtitle properties__subtitle">Записаться на тест-драйв</h3>
                    <a href="#" class="properties__link arrow-link">
                      <span class="arrow-link__arrow"></span>
                      Проверьте Volkswagen в движении
                    </a>
                  </div>
                  <!-- /.properties__blok -->

                </div>
                <!-- /.properties__bloks-wrapper -->

              </div>
              <!-- /.properties__wrapper -->
            </section>
            <!-- /.properties -->

          </div>
        </main>
        <!-- /.content -->

        <footer class="footer">
           Футер
        </footer>

      </div>
    </div> 
    <script src="@@webRoot/js/main.js"></script>
    <script src="@@webRoot/js/vendor.js"></script>
    <script> 
      
    </script>
  </body>
</html>
