<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Шаблон</title>
    <meta name="theme-color" content="#fff" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="icon" type="image/png" href="@@webRoot/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="@@webRoot/img/favicon/favicon-96x96.png" sizes="96x96">
    

    <link rel="stylesheet" href="@@webRoot/styles/main.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="container">
        <header class="header">
           Заголовок
        </header>
        <!-- /.header --> 

        <div  class="wrapper-content" >
          <div class="container">
            <h1>Центральная часть</h1>
          </div>
        </div>
        <!-- /.content -->

        <footer class="footer">
           Футер
        </footer>

      </div>
    </div> 
    <script src="@@webRoot/js/index.js"></script>
    <script> 
      
    </script>
  </body>
</html>
