@font-face {
  font-family: "VWHead-Bold";
  font-display: swap;
  src: url("../fonts/VWText/VWHead-Bold.woff") format("woff"),
    url("../fonts/VWText/VWHead-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "VWHead";
  font-display: swap;
  src: url("../fonts/VWText/VWHead.woff") format("woff"),
    url("../fonts/VWText/VWHead.woff2") format("woff2");
}
@font-face {
  font-family: "VWText-Bold";
  font-display: swap;
  src: url("../fonts/VWText/VWText-Bold.woff") format("woff"),
    url("../fonts/VWText/VWText-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "VWText";
  font-display: swap;
  src: url("../fonts/VWText/VWText.woff") format("woff"),
    url("../fonts/VWText/VWText.woff2") format("woff2");
}