@font-face {
  font-family: "HelveticaNeueCyr-Black";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueCyr-Italic";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueCyr-Light";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueCyr-Mediun";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Mediun.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Mediun.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Helvetica-Regular";
  font-display: swap;
  src: url("../fonts/Helvetica-Regular.woff") format("woff"),
    url("../fonts/Helvetica-Regular.woff2") format("woff2");
}
